[package]
name = "proj-xs"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.9.0"
tokio = "1.40.0"
serde = {version = "1.0.210", features = ["derive"]}
serde_json = "1.0.128"
diesel = {version = "2.2.4", features = ["postgres", "r2d2", "chrono"]}
chrono = {version = "0.4.38", features = ["serde"]}
dotenvy = "0.15.7"
log = "0.4.22"
pretty_env_logger = "0.5.0"
thiserror = "1.0.65"