# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  workflow_run:
    workflows:
      - Tests
    branches:
      - master
    types:
      - completed
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Nix
        uses: cachix/install-nix-action@v31.9.0
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Set up Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Build container on Nix
        run: nix build .#docker

      - name: Load result container
        run: docker load < result

      - name: Deploy on Fly
        uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --local-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
